.services {
  &__title {
    display: block;
    font-weight: 450;
    font-size: 24px;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 39px;
    margin-top: 17.5%;
    margin-bottom: 2%;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__button {
    width: 135px;
    height: 36px;
    margin-top: 6px;
    background: none;
    outline: none;
    border: 1px solid #2BBB97;
    border-radius: 2px;
    font-weight: 600;
    font-size: 14px;
    color: #2BBB97;
  }
}
