.reviews {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    margin-bottom: 46px;
  }
  &__button-more {
    margin-bottom: 95px;
  }
}

@media (max-width: 1659px) {
  .reviews {
    &__list {
      grid-template-columns: repeat(4, 320px);
      justify-content: center;
      margin-bottom: 0;
    }
  }
}

@media (max-width: 1520px) {
  .reviews {
    &__list {
      grid-template-columns: repeat(3, 340px);
      justify-content: center;
    }
  }
}


@media (max-width: 1090px) {
  .reviews {
    &__list {
      grid-template-columns: repeat(2, 340px);
      justify-content: center;
    }
    &__button-more {
      margin-bottom: 45px;
    }
  }
}

@media (max-width: 677px) {
  .reviews {
    &__list {
      grid-template-columns: 340px;
    }
    &__button-more {
      margin-bottom: 25px;
    }
  }
}

@media (max-width: 450px) {
  .reviews {
    &__list {
      grid-template-columns: 280px;
    }
  }
}