.interactive {
  display: grid;
  grid-template-columns: 51% 49%;
  &__left {
    padding: 66px 90px 82px;
    color: white;
    background: linear-gradient(130.14deg, #2BBB97 45.98%, #25AEF6 91.19%);
  }
  &__right {
    display: grid;
    grid-auto-rows: 300px 300px;
  }
  &__body {
    display: flex;
    flex-direction: column;
    height: 142px;
    padding: 44px 3px;
    justify-content: space-between;
  }
  &__gallery {
    background: url("./../../images/gallery-background.png");
  }
  &__map {
    background: url("./../../images/map-background.png")
  }
  &__text {
    margin-top: 16px;
  }
  &__logo {
    height: 91px;
    width: 91px;
    background: url("./../../images/parens.svg")
  }
  &__title {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    padding-left: 2px;
  }
  &__subtitle {
    font-weight: 450;
    font-size: 16px;
    line-height: 20px;
  }
  &__location {
    display: flex;
    line-height: 25px;
    &--address {
      padding-left: 20px;
    }
    &--icon {
      width: 22px;
      height: 22px;
      background: no-repeat url("./../../icons/interactive/gps.svg");
      background-size: contain;
    }
  }
  &__phone {
    display: flex;
    &--icon {
      width: 18px;
      height: 18px;
      margin-right: 17px;
      background: url("./../../icons/interactive/phone.svg")
    }
    &--button {
      height: 13.3px;
      width: 13.3px;
      margin: 2px 0 0 8px;
      background: url("./../../icons/interactive/more.svg");
      background-size: contain;
      border: none;
    }
  }
  &__website {
    display: flex;
    &--icon {
      width: 20px;
      height: 20px;
      background: url("./../../icons/interactive/web.svg")
    }
    &--address {
      padding-left: 15px;
    }
  }
  &__gallery {
    display: flex;
    &--icon {
      width: 24px;
      height: 20px;
      background: url("./../../icons/interactive/gallery.svg")
    }
  }
  &__map {
    &--icon {
      width: 18px;
      height: 18px;
      background: url("./../../icons/interactive/map.svg")
    }
  }
  &__button {
    width: 200px;
    height: 50px;
    color: white;
    background: none;
    border: 2px solid white;
    border-radius: 2px;
    font-size: 16px;
    padding: 13px;
    font-weight: 600;
    line-height: 24px;
  }
}