.app {
  font-weight: 450;
  font-size: 20px;
  line-height: 25px;
  color: #16395B;

}

.wrapper {
  max-width: 1660px;
  margin: 0 auto;
  padding: 0 7.5%;
  box-sizing: border-box;
  overflow: hidden;
}

select {
  border:0px;
  outline:0px;
}

.page {
  height: 83px;
}

.subtitle {
  font-weight: 450;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 30px;
}

.show-button {
  width: 135px;
  height: 36px;
  background: none;
  outline: none;
  border: 1px solid #2BBB97;
  border-radius: 2px;
  font-weight: 600;
  font-size: 14px;
  line-height: 36px;
  text-align: center;
  color: #2BBB97;
  transition: transform 200ms ease;
  &:hover {
    transform: scale(1.02);
  }
}

.button-forward,
.button-backward {
  width: 60px;
  height: 60px;
  outline: none;
  border: none;
  background-size: contain;
  z-index: 2;
  transition: transform 200ms ease;
  &:hover {
    transform: scale(1.05);
  }
}

.button-backward {
  background: center no-repeat url("/icons/backward-button.svg");
}

.button-forward {
  background: center no-repeat url("/icons/forward-button.svg");
}

.button-more {
  display: block;
  position: relative;
  font-weight: 550;
  background: none;
  padding: 0 0 1px 1px;
  border: 0;
  outline: 0;
  color: #25AEF6;
  transition: transform 200ms ease;
  &:hover {
    transform: scale(1.05);
  }
  &::after {
    display: block;
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background-color: #25AEF6;
  }
}

@media (max-width: 426px) {
  .button-forward {
    width: 30px;
    height: 30px;
  }
}


@media (max-width: 426px) {
  .button-backward {
    width: 30px;
    height: 30px;
  }
}


.truncate {
  -webkit-line-clamp: 9;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  &__small {
    -webkit-line-clamp: 12;
  }
}
